@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: black;
  --text-shadow-sm: 2px 2px 2px rgba(0, 0, 0, 0.2);
  --text-shadow-lg: 2px 2px 10px rgb(0 0 0 / 90%);
  --text-shadow-md: 1px 1px 8px rgb(0 0 0 / 80%);
}

body {
  color: var(--text-color);
  font-family: "Figtree", sans-serif;
  @apply text-sm md:text-base lg:text-lg;
}

span {
  color: var(--text-color);
  font-family: "Figtree", sans-serif;
  @apply text-sm md:text-base lg:text-lg;
}

p,
a,
button,
label,
input,
select {
  color: var(--text-color);
  font-family: "Figtree", sans-serif;
  @apply text-sm;
}

h1 {
  color: var(--text-color);
  font-family: "Playfair Display", serif;
  font-weight: 500;
  @apply text-3xl md:text-4xl lg:text-5xl xl:text-6xl;
  letter-spacing: 0.02em;
}

h2 {
  color: var(--text-color);
  font-family: "Playfair Display", serif;
  font-weight: 500;
  @apply text-2xl md:text-3xl lg:text-4xl xl:text-5xl;
  letter-spacing: 0.02em;
}

h3 {
  color: var(--text-color);
  font-family: "Playfair Display", serif;
  font-weight: 500;
  @apply text-xl md:text-2xl lg:text-3xl xl:text-4xl;
  letter-spacing: 0.02em;
}

h4 {
  color: var(--text-color);
  font-family: "Figtree", sans-serif;
  @apply text-lg md:text-xl lg:text-2xl xl:text-3xl;
}

h5 {
  color: var(--text-color);
  font-family: "Figtree", sans-serif;
  @apply text-base md:text-lg lg:text-xl xl:text-2xl;
}

h6 {
  color: var(--text-color);
  font-family: "Figtree", sans-serif;
  @apply text-sm md:text-base lg:text-lg xl:text-xl;
}

.underline {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}
